#insert-table {
    margin-top: 20px;
    text-align: center;
}

td {
    width: 103px;
    height: 103px;
}

.congratulations {
    margin-top: 20px;
}

.image2 {
    margin: 3px;
    border: 0px;
}

.image1 {
    margin: 3px;
    position: relative;
    cursor: pointer;
}

.image1:after {
    background-image: url("/static/test_app/image/default.png");
    height:96px;
    width:96px;
    content: ' ';
    position:absolute;
    left:3px;
    top:3px;
}